
{% extends 'base.html' %}
{% load static%}
{% block title %}
      category
        {% endblock %}
{% block content %}
      <h1> Categories</h1>
     
     {% comment %} <a href="{%url 'addcategory' %}">New category</a> {% endcomment %}
     <button>
     <a href="{%url 'addformcategory' %}">Add New Category </a>
     </button>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                
                    <th>details</th>
                    <th>number of products</th>
                    <th width="15%">image</th>
                    <th>actions</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for category in categories %}
                <tr>
                    <td>{{ category.id }}</td>
                
                    <td>{{ category.name }}</td>
                 
                    <td>{{ category.details }}</td>
                    <td>{{ category.numberproducts }}</td>
                    <td>
                        <img  width="60%"src="{{category.getimageurl}}"/>
                    </td>
                   
                    <td>
                       
                       
                     <button>
                     <a href="{%url 'category.details' category.id%}">details</a> 
                
                     </button>
                
                     <button>
                     <a href="{%url 'category.update' category.id%}">update</a>
                    </button> 
                    
                     <button>
                     <a href="{%url 'category.delete' category.id%}">delete</a>
                    </button> 
                     </br>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}


