{% extends 'base.html' %}
{% load static%}
{% block title %}
      details for  category
{% endblock %}

{% block content %}



    <h3>Category Details</h3>
   
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Details</th>
                    <th>Number of Products</th>
                    <th></th>
                    <th></th><th></th>
                    <th>Image</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.name }}</td>
                    <td>{{ category.details }}</td>
                     
                    <td>{{ category.numberproducts }}</td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td>
                        <img  width="20%"src="{{category.getimageurl}}"/>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}


