{% extends 'base.html' %}
{% block title %}Home - Skin Care Website{% endblock %}
{% load static%}


{% block content %}
  {{product}}
    <h1>Product Details</h1>
   
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Details</th>
                    <th>Image</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.details }}</td>
                    <td>
                        <img  width="20%"src="{{product.getpimageurl}}"/>
                    </td>
                  
                </tr>
            </tbody>
        </table>
    </div>
 {% endblock %}