
{% extends 'base.html' %}
{% load static%}
{% block title %}
      product 
        {% endblock %}
{% block content %}
      <h1> Products</h1>
     
     {% comment %} <a href="{%url 'addproduct' %}">New Product</a> {% endcomment %}
     <button>
     <a href="{%url 'addformproduct' %}">Add new product </a>
     </button>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                 
                    <th>details</th>
                    <th width="40%">Image</th>
                    
                    
                    <th>actions</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>{{ product.id }}</td>
                
                    <td>{{ product.name }}</td>
                 
                    <td>{{ product.details }}</td>
                    <td>
                        <img  width="25%"src="{{product.getpimageurl}}"/>
                    </td>
                   
                    
                    
                    <td>
                       
                       
                     <button>
                     <a href="{%url 'product.details' product.id%}">details</a> 
                     </button>
                   
                    
                    <button>
                     <a href="{%url 'product.update' product.id%}">update</a> 
                    </button>
                    

                     <button style="color:blue">

                     <a href="{%url 'product.delete' product.id%}">delete</a> 
                     </button>
                     </br>
                    </td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}


