<!-- about_us.html -->

{% extends 'base.html' %}

{% block title %}
About Us 
{% endblock %}

{% block content %}
<h1>About Us</h1>
<div>
    <p>Number one in the GH Beauty Lab’s test of face scrubs, the Acure face exfoliator clarifies skin with a blend of walnut shell powder and green clay. It earned a perfect score for deep cleansing in a test of full-coverage makeup removal and ranked best among testers for purifying and brightening. “My skin was the softest it’s ever been after using this product," a tester noted. "My facial skin definitely looked refreshed, smoother and brighter — I felt like a no-makeup day was completely okay," another marveled. It's worth noting that the rich color of this scrub can stain your sink, so it may be a bit messy to use.</p>

    </div>
{% endblock %}
